<div class="mt-5 mb-4">
    <%= link_to :back, class: "text-info" do %>
        <i class="fas fa-arrow-left"></i> Back
    <% end %>
</div>
<h1>Details:</h1>

<div class="container mt-4">
    <h4 class="mt-4 mb-4"><%= @post.title %></h4>
    <p><%= @post.body %></p>
</div>